* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

main {
    width: 500px;
    /* border: 1px solid red; */
    padding: 10px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color:rgb(5, 5, 207);
}

label {
    font-weight: bold;
}